.ant-layout-has-sider {
  padding: 5px !important;
}

.ant-layout.ant-layout-has-sider {
  height: 100vh !important;
}

.ant-layout-sider {
  border-radius: 10px !important;
  padding-top: 10px;
}

.anticon svg {
  height: 20px;
  width: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.ant-layout .ant-layout-header {
  box-shadow: 0 0 3px #ccc !important;
  border-radius: 5px;
  margin: 10px;
}

.ant-menu .ant-menu-item a {
  text-decoration: none;
}
.custom-body-class {
  box-shadow: 0 0 3px #ccc !important;
  border-radius: 5px;
  margin: 10px;
  overflow: auto;
}

.ant-layout-header {
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item {
  padding-left: 20px;
  padding-right: 30px;
  cursor: pointer;
}

.cart-item p {
  margin-top: 15px;
  font-weight: bold;
}
